[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
django-debug-toolbar = "*"
djangorestframework-csv = "*"
djangorestframework-yaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
